  {{ partial "head.html" . }}
  <body class="single">
    {{ partial "sidebar.html" . }}
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        <div class="post">
          <h1>{{ .Title }}</h1>
          <div class="postheader"> <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
              in 
              {{ with .Params.categories }}
                      {{ delimit (apply (apply (sort .) "partial" "post/category/link" ".") "chomp" ".") ", " }}
              {{ end }}
          </div>
          <div class="tagcontainer">
          {{ partial "tags.html" .}}
          </div>
          <div class="postcontent">
          {{ .Content }}
          </div>
        </div>
        <div class="tagcontainer right">
        {{ partial "tags.html" .}}
        </div>
        {{ partial "sharing.html" .}}
        {{ partial "comments.html" .}}
      </div>
    </div>
  </body>
  {{ partial "script.html" .}}
</html>
