<div class="share">

<a href="https://twitter.com/intent/tweet?status={{ .Title }}-{{ .Permalink }}" target="_blank" title="Follow me on Twitter" class="twitter">
<span class="fa fa-twitter"></span></a>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" title="Join me on Facebook" class="facebook">
<span class="fa fa-facebook"></span></a>
<a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Google+" class="googleplus">
<span class="fa fa-google-plus"></span></a>
<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="LinkedIn" class="linkedin">
<span class="fa fa-linkedin"></span></a>
<a href="http://www.reddit.com/submit?url={{ .Permalink }}" target="_blank" title="Reddit" class="reddit"><span class="fa fa-reddit"></span></a>
<a href="http://www.stumbleupon.com/submit?url={{ .Permalink }}" target="_blank" title="StumbleUpon" class="stumbleupon"><span class="fa fa-stumbleupon">
</span></a>
{{ with .Site.Params.github_src }}
<div style="float: right; " class="src share"> 
    <a href="https://github.com/{{ . }}/blob/master/content/{{ $.Path }}"
        class="src"
        title="See the source">See the source <span class="fa fa-code-fork"></span></a>
</div>
{{ end }}
</div>
